.main-container {
    width: 100%;
    height: 100%;
}
.scoreboard {
    width: fit-content;
    height: 100%;
    float: left;
}
.yachtCanvas {
    width: 65%;
    height: 100%;
}
table {
    border-collapse: collapse;
}
.scoreboard th,.scoreboard td {
    padding: 8px;
    border: 1px solid black;
}